@font-face {
    font-family: 'Inter';
    src: url(fonts/Inter-VariableFont_slnt\,wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', serif;
    background-color: hsl(0, 0%, 8%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    margin: 10px;
    padding: 20px 100%;
    text-decoration: none;
    color: white;
    background-color: hsl(0, 0%, 20%);
} 

div {
    margin: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    margin-bottom: 30px;
    min-width: 130px;
    max-width: 130px;
    border-radius: 50%;
}

h1 {
    font-size: 35px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 1px;
    
}


.card {
    margin: 10%;
    padding: 60px;
    min-width: 500px;
    max-width: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 12%);
}
